@font-face {
    font-family: 'Bristle Radiant DEMO VERSION';
    src: url('Fonts/BristleRadiantDEMOVERSION.woff2') format('woff2'),
        url('Fonts/BristleRadiantDEMOVERSION.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stockport Brush Personal';
    src: url('Fonts/StockportBrushPersonal.woff2') format('woff2'),
        url('Fonts/StockportBrushPersonal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Fonts/Philosopher-Bold.woff2') format('woff2'),
        url('Fonts/Philosopher-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Philosopher';
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(Images/Library.jpg);
    background-color: rgba(223, 185, 137, 0.349);
    background-size: contain;
    background-position: center;
    margin: 0px;
    display: grid;
    grid-template-rows: 20% 80% ;
}
.header {
     background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    display: grid;
    grid-template-columns: 82% 18%;
    align-items: center;

}
.name {
    display: flex;
    align-items: center;
    fill: currentColor;
    color: white;
    margin-left: 10px;
    font-size: 2rem;
    font-family: 'Stockport Brush Personal';
}


.logo {
    border-radius: 40px;
}
.logo-container {
    border: 2px solid white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: stretch;
    justify-items: center;
    margin-right: 15px;
}
.addBookToLib {
    padding: 10px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: yellowgreen;
    border: 2px solid white;
    font-size: 1em;
}

.addBookToLib:hover {
    background-color: rgb(178, 233, 68);
}

.addBookToLib::before {
    content: "➕"
}
.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 22%);
    grid-auto-rows: 80%;
    gap: 25px;
    width: 100vw;
    margin:5px 0 ;
    justify-content: center;
}

.libraryCard {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(130px, 100%);
    border-radius: 30px;
  background-color:  rgba(0, 0, 0, 0.9); /*  transparent */
  color: white;
  font-weight: bold;

}

.libraryCard p,
h3 {
    margin: 0;
    padding: 15px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.libraryCard button {
    padding: 5px 20px;
    margin-bottom: 10px;
}
dialog {
    border-radius: 10px;
    background-image: url(Images/woman-in-library.jpg);
    background-color: white;
    background-position: center;
    background-size: contain;
    color: white;
}
.removeBtn,
 .toggleBtn{
    justify-self: center;
    margin-bottom: 20px;
    border-radius: 18px;
    width: 50%;
    font-size: 0.9rem;
    white-space: nowrap;
    border: none;
}
.removeBtn {
    background-color: red;
    color: white;
}
.removeBtn:hover {
    background-color: rgb(219, 2, 2);
}
.toggleBtn {
    background-color: rgb(196, 195, 195);
    color: black;
}

input[type='text'],
input[type='number'] {
    margin-left: 10px ;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid white;
    font-size: 0.8em;

}
input[type='text']:focus,
input[type='number']:focus {
    box-shadow: 10px 10px 15px 0px #0B040F;
    border: none;
    outline: 2px solid brown;
}

label[for='title'],
label[for='author'],
label[for='pages'],
label[for='read-status'] {
    font-size: 1.15em;
}

.cancelBtn {
    padding: 5px 20px;
    background-color: Red;
    font-size: 1em;
    margin: 0px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}
.cancelBtn:hover {
    background-color: rgb(211, 57, 57);
}
.addBookBtn {
     padding: 5px 30px;
    background-color: green;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: white;
}
.addBookBtn:hover {
    background-color: rgb(9, 187, 9);
}

