body {
    width: 100vw;
    height: 100vh;
    background-image: url(Images/Library.jpg);
    background-color: rgba(236, 150, 37, 0.349);
    background-size: contain;
    background-position: center;
    margin: 0px;
    display: grid;
    grid-template-rows: 20% 80% ;
    /* background-repeat: no-repeat; */

}
.header {
    /* border: 2px solid yellow; */
     background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    display: grid;
    grid-template-columns: 82% 18%;
    align-items: center;

}
.name {
    display: flex;
    align-items: center;
    fill: currentColor;
    color: white;
    margin-left: 10px;
    font-size: 1.8rem;
}


.logo {
    border-radius: 40px;
}
.logo-container {
    border: 2px solid white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: stretch;
    justify-items: center;
    margin-right: 15px;
}
.addBookToLib {
    padding: 10px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: yellowgreen;
    border: 2px solid white;
    font-size: 1em;
}

.addBookToLib:hover {
    background-color: rgb(178, 233, 68);
}

.addBookToLib::before {
    content: "➕"
}
.library {
    /* border: 2px solid brown; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 30%);
    gap: 15px;
    /* height: 100vh; */
    width: 100vw;
}

.libraryCard {
    border: 2px solid yellow;
    /* width: 50px; */
    display: grid;
    white-space: pre-line; /* preserves line breaks */
    padding: 10px; 
    border-radius: 15px;
}
dialog {
    /* border: 2px solid red; */
    border-radius: 10px;
    background-image: url(Images/woman-in-library.jpg);
    background-color: white;
    background-position: center;
    background-size: contain;
    color: white;
}
.removeBtn,
 .toggleBtn{
    place-self: center;
    margin-top: 10px;
}

input[type='text'],
input[type='number'] {
    margin-left: 10px ;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid white;
    font-size: 0.8em;
}
input[type='text']:focus,
input[type='number']:focus {
    box-shadow: 10px 10px 15px 0px #0B040F;
    border: none;
    outline: 2px solid brown;
}

label[for='title'],
label[for='author'],
label[for='pages'],
label[for='read-status'] {
    font-size: 1.15em;
}

.cancelBtn {
    padding: 5px 20px;
    background-color: Red;
    font-size: 1em;
    margin: 0px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}
.cancelBtn:hover {
    background-color: rgb(211, 57, 57);
}
.addBookBtn {
     padding: 5px 30px;
    background-color: green;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: white;
}
.addBookBtn:hover {
    background-color: rgb(9, 187, 9);
}
.cardDiv {
    display: grid;
}